<div id='cssmenu'>
   <ul>
   		<li  style="width:160px">
        	<a href="javaScript:void(0)" style="width:160px">Setup Metadata</a>
      	</li>	
	    <li class="active" style="width:205px">
	        <a href="javaScript:void(0)" style="width:188px">Upload Data File</a>
	    </li>
	    <li style="width:250px">
	       <a href="javaScript:void(0)" style="width:230px">Associate Data Elements</a>
	    </li>
	    <li style="width:250px">
	       <a href="javaScript:void(0)" style="width:240px">Associate Organisation Units</a>
	    </li>
	    <li style="width:200px">
	       <a href="javaScript:void(0)" style="width:165px;padding-left: 60px">Import Data</a>
	    </li>
   </ul>
</div>
<br/>
<br/>
<form class="form-horizontal" ng-init="vm.initDataElements()">
	<div class="form-group">
		<label for="files" class="col-md-2 control-label">Select CSV File</label>
		<div class="col-md-5">				
			<input type="file" class="file-chooser form-control" ngf-select="vm.uploadFiles($file, $invalidFiles)"  />
			<span style="color:red" ng-if="vm.showError">Please select a csv file for upload</span>
		</div>
		<div class="col-md-1" style="padding-left: 0; padding-top: 1px;">
			<button class="btn btn-sm btn-default" ng-click="vm.processFileContentForDisplay()">Upload</button>
		</div>		
	</div>	
</form>

<div class="progress" ng-if="vm.isLoading">
	<div 	class="progress-bar progress-bar-danger progress-bar-striped active" 
	  		role="progressbar" 
	  		aria-valuenow="100" 
	  		aria-valuemin="0" 
	  		aria-valuemax="100" 
	  		style="width: 100%">
	    <span class="sr-only">100% Complete</span>
	</div>
</div>
<br/>
<div class="container" ng-class="vm.isVisible">
	<button type="button" class="btn btn-primary" ng-click="vm.navigateToMapDataElements()">Associate Data Element</button>
	<br/><br/>
	<table class="table">
		<thead>
			<tr>
				<th ng-repeat="header in vm.tableHeaders track by $index">{{header}}</th>
			</tr>			
		</thead>
		<tbody>
			<tr ng-repeat="rowDataSet in vm.tRowData">
				<td ng-repeat="r in rowDataSet track by $index">{{r}}</td>
			</tr>
		</tbody>
	</table>	
</div>

