<div id='cssmenu'>
      <ul>
   		<li>
        	<a href="javaScript:void(0)">{{"Setup Metadata" | i18next}}</a>
      	</li>	
	    <li>
	        <a href="javaScript:void(0)">{{"Upload Data File" | i18next}}</a>
	    </li>
	    <li class="active">
	       <a href="javaScript:void(0)">{{"Associate Data Elements" | i18next}}</a>
	    </li>
	    <li>
	       <a href="javaScript:void(0)">{{"Associate Organisation Units" | i18next}}</a>
	    </li>
	    <li>
	       <a href="javaScript:void(0)">{{"Import Data" | i18next}}</a>
	    </li>
   </ul>
</div>

<br/>
<br/>

<form name="dataElementsMapForm" ng-submit="dataElementsMapForm.$valid && vm.remapDataElements()" novalidate>	
	<table class="table table-stripped" ng-init="vm.initMapDataElements()" ng-cloak>
		<caption>{{"Data Elements" | i18next}}</caption>
		<thead>
			<tr>			
				<th align="right"><span class="pull-right">{{"Date elements in the csv file" | i18next}}</span></th>
				<th>{{"Map To" | i18next}}</th>
			</tr>
		</thead>
		<tbody>		
			<tr ng-repeat="(k,v) in vm.dataElementsMap track by $index">			
				<td align="right">{{v}}</td>
				<td>				
					<select ng-model="vm.selectedValueList[$index]" 
							class="form-control" 
							ng-change="vm.disableDE_COC_Options($index,k)" 
							name="deValue{{$index}}" 
							ng-disabled="vm.isDataElementsMappingDone === true">		
						<option value="">select</option>
						<option ng-repeat="(key,val) in vm.mapDE_COC" 								 
								ng-disabled="vm.mapSelectionFlag[key]">{{val| handleSpecialCharaterOnTranslation}}</option>
					</select>
					<div ng-show="dataElementsMapForm.$submitted" style="color:red">
						<div ng-show="dataElementsMapForm.deValue{{$index}}.$error.required">Select an option</div>
					</div>
				</td>
			</tr>
						
		</tbody>
		<tfooter>
			<tr>
				<td colspan="2" align="right">
					<button class="btn btn-default" ng-click="vm.gotBackTo('dataelement.uploadDataElements')">{{"Previous" | i18next}}</button>
					<button class="btn btn-default" ng-click="vm.initMapDataElements()" type="button">{{"Reset" | i18next}}</button>
					<button class="btn btn-primary" 
							type="button" 
							ng-if="vm.isDataElementsMappingDone === false" ng-click="vm.confirmDataElementsMapping()">{{"Apply" | i18next}}</button>
					<button class="btn btn-primary" type="submit" ng-if="vm.isDataElementsMappingDone === true">{{"Next" | i18next}}</button>
				</td>
			</tr>
		</tfooter>	
	</table>
</form>