<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{"Import Data" | i18next}}</h3>
</div>
<div class="modal-body">
	<p>{{"Please confirm data element have been mapped correctly before importing data." | i18next}}<br/>{{"Import Data ?" | i18next}}</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="vm.ok()">{{"OK" | i18next}}</button>
	<button class="btn btn-default" type="button" ng-click="vm.cancel()">{{"Cancel" | i18next}}</button>
</div>