#cssmenu {
  display: inline-block;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1em;
  padding-right: 50px;
  overflow: hidden;
}
#cssmenu:before,
#cssmenu:after {
  content: '';
  position: absolute;
  left: 15px;
  width: calc(100% - 50px);
  height: 1px;
  background-color: #d3dbe5;
  z-index: 1;
}
#cssmenu:before {
  top: 0;
}
#cssmenu:after {
  bottom: 0;
}
#cssmenu ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul li {
  margin: 0;
  background-color: #f3f5fa;
  border: 1px solid transparent;
  border-right: none;
  transition: 0.2s;
}
#cssmenu ul li:first-child {
  border-color: #d3dbe5;
  border-radius: 4px 0 0 4px;
}
#cssmenu ul li:first-child a {
  margin-left: 0;
}
#cssmenu ul li:hover {
  background-color: #ffffff;
}
#cssmenu ul li:hover a {
  color: #357dfd;
}
#cssmenu ul li:hover a:before {
  background-color: #ffffff;
}
#cssmenu ul li.active {
  background-color: #337ab7; /* #357dfd */
}
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li.active a:before {
  background-color: #337ab7; /* #357dfd */
}
#cssmenu ul li a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  min-height: 100%;
  padding: 12px 0 12px 25px;
  margin-left: 32px;
  color: #8698aa;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.2s;
}
#cssmenu ul li a:before {
  content: '';
  position: absolute;
  right: -25px;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #f3f5fa;
  border-top: 1px solid #d3dbe5;
  border-right: 1px solid #d3dbe5;
  border-radius: 10px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transition: 0.2s;
}
#cssmenu ul li a span {
  position: relative;
  z-index: 1;
}
#cssmenu ul li a i {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}




